{% comment %}
  Secure checkout trust badge with iDEAL icon.
  Usage: {% render 'secure-checkout', section_id: section.id %}
{% endcomment %}

<div class="product-v2__trust-row product-v2__secure-row">
  <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.5" y="0.5" width="38" height="23" rx="3.5" fill="#FFFFFF" stroke="#E0E0E0"/>
    <g clip-path="url(#clip_ideal_{{ section_id }})">
      <path d="M14.5 6.912V19H20.148C25.276 19 27.5 16.302 27.5 12.486C27.5 8.834 25.276 6 20.148 6H15.478C14.935 6 14.5 6.414 14.5 6.912Z" fill="#CC0066"/>
      <path d="M19.812 21H10.928C10.14 21 9.5 20.373 9.5 19.6V5.4C9.5 4.627 10.14 4 10.928 4H19.812C28.242 4 29.5 9.317 29.5 12.482C29.5 17.974 26.054 21 19.812 21ZM10.928 4.467C10.7414 4.46504 10.5584 4.51842 10.4021 4.6204C10.2459 4.72239 10.1233 4.8684 10.05 5.04C10.0018 5.15393 9.97663 5.27629 9.976 5.4V19.6C9.97674 19.7867 10.0333 19.969 10.1385 20.1233C10.2436 20.2776 10.3925 20.397 10.566 20.466C10.681 20.512 10.804 20.536 10.928 20.534H19.812C25.75 20.534 29.024 17.674 29.024 12.482C29.024 5.51 23.25 4.467 19.812 4.467H10.928Z" fill="black"/>
      <path d="M16.752 11.008C16.94 11.008 17.113 11.038 17.28 11.096C17.447 11.156 17.584 11.251 17.707 11.369C17.823 11.494 17.917 11.649 17.989 11.826C18.054 12.01 18.09 12.224 18.09 12.475C18.09 12.695 18.062 12.895 18.01 13.079C17.9597 13.2528 17.8765 13.4154 17.765 13.558C17.6523 13.6927 17.5113 13.8009 17.352 13.875C17.1671 13.955 16.9674 13.9952 16.766 13.993H15.5V11H16.752V11.008ZM16.708 13.448C16.803 13.448 16.889 13.432 16.984 13.403C17.0729 13.3723 17.1522 13.3188 17.214 13.248C17.2873 13.1662 17.3443 13.0712 17.382 12.968C17.425 12.85 17.447 12.718 17.447 12.548C17.447 12.401 17.432 12.261 17.403 12.143C17.3772 12.0306 17.3278 11.9249 17.258 11.833C17.1895 11.7458 17.1001 11.6773 16.998 11.634C16.8709 11.5864 16.7357 11.564 16.6 11.568H16.136V13.455H16.708V13.447V13.448ZM20.703 11.008V11.561H19.155V12.201H20.581V12.711H19.155V13.441H20.74V13.993H18.511V11H20.705V11.008H20.703ZM22.918 11.008L24.018 14H23.345L23.121 13.337H22.021L21.789 14H21.137L22.245 11.008H22.918ZM22.955 12.843L22.585 11.745H22.578L22.194 12.843H22.955ZM25.067 11.008V13.448H26.5V14H24.424V11.008H25.067Z" fill="#FDFDFD"/>
      <path d="M12 13.652C12.829 13.652 13.5 13.059 13.5 12.326C13.5 11.594 12.829 11 12 11C11.171 11 10.5 11.594 10.5 12.326C10.5 13.058 11.171 13.652 12 13.652ZM13.13 19C11.872 19 10.861 18.1 10.861 16.993V15.425C10.8638 15.2888 10.8952 15.1548 10.9533 15.0316C11.0113 14.9084 11.0947 14.7988 11.198 14.71C11.412 14.521 11.7 14.416 12 14.419C12.1475 14.4174 12.2942 14.4421 12.433 14.492C12.57 14.542 12.695 14.616 12.801 14.71C12.907 14.803 12.991 14.915 13.049 15.037C13.1067 15.1583 13.1374 15.2907 13.139 15.425V19H13.13Z" fill="black"/>
    </g>
    <defs>
      <clipPath id="clip_ideal_{{ section_id }}">
        <rect width="38" height="24" fill="white" transform="translate(0.5)"/>
      </clipPath>
    </defs>
  </svg>
  <span>Safe & secure checkout — pay with iDEAL, creditcard or PayPal</span>
</div>
