{% if product.metafields.my_fields.product_upsells.value != blank %}
  {% assign products = product.metafields.my_fields.product_upsells.value %}
{% else %}
  {% assign products = settings.global_upsells.products %}
{% endif %}

<div class="bg-white pt-[24px]">
  <h4 class="text-center text-[14px] font-normal lowercase underline underline-offset-4 text-[#111111] mb-[20px]">
    {{ section.settings.title }}
  </h4>

  <div class="bot-swiper overflow-hidden relative">
    <div class="swiper-wrapper">
      {% for productItem in products %}
        <div class="swiper-slide">
          {% render 'card-product', card_product: productItem, media_aspect_ratio: 'adapt', section_id: section.id, show_secondary_image: true %}
        </div>
      {% endfor %}
    </div>
    <div class="bot-swiper-next">
      {% render 'icon-arrow-right' %}
    </div>
    <div class="bot-swiper-prev">
      {% render 'icon-arraw-left' %}
    </div>
  </div>
</div>