.multicolumns-item-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.multicolumns-item-wrapper.align-left {
    justify-content: flex-start;
}

.multicolumns-item-wrapper.align-center {
    justify-content: center;
}

.multicolumns-item-wrapper.align-right {
    justify-content: flex-end;
}

.multicolumns-item-wrapper .multicolumns-item-image img,
.multicolumns-item-wrapper .multicolumns-item-image video {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .multicolumns-item-wrapper.align-left-down {
        justify-content: flex-start;
    }

    .multicolumns-item-wrapper.align-center-down {
        justify-content: center;
    }

    .multicolumns-item-wrapper.align-right-down {
        justify-content: flex-end;
    }
}

.multicolumns-item-image {
    position: relative;
    overflow: hidden;
}

.about-text {
    font-size: 18px;
}

@media (max-width: 768px) {
    .template--about-us .rich-text__wrapper {
        width: 100%;
    }
}