.about-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.about-button {
    margin-top: 48px;
}

.about-button .link {
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .about-button {
        margin-top: 24px;
    }
}